
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #b34d4d	;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {

  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #80ced6;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


img{
    width:  280px;
    height: 200px;
    overflow: visible;
}


.worker{
    position: relative;
    float: left;
    margin: 25px;
    clear: left;
}


body{
   background: black;
   color: white;
}


body, div{
margin:0;
}