{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imaginary-workers</title>
    <link rel="stylesheet" href="{% static 'html_styles/workers_list.css' %}">
</head>
<body>
    <div class="workers">
    {% for worker in workers %}
    <div class="worker">
    <img src="{% static 'workers_images/'%}{{worker.image}}">
    <br/>
        Name: {{ worker.first_name }}<br/>
        Last name: {{ worker.last_name }}<br/>
        Worker ID: {{ worker.worker_id }}<br/>
        Phone: {{ worker.phone }}<br/>
        Salary: {{ worker.salary }}<br/>
      jobs: | {% for job in worker.jobs.all %}

        <div class="tooltip" style="display: inline">  {{ job }} |
                    <span class="tooltiptext" style="display: inline">paradigms: {% for job_object in jobs %}
                        {% if job == job_object %}
                            {% for paradigm in job_object.paradigms.all %}
                            {{ paradigm.name }} <br/>
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </span>
        </div>
    {% endfor %}
    </div>
    {% endfor %}
    </div>
</body>
</html>